<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom"
      xml:lang="en"
      xml:base="http://chrispycode.ninja">
  <id>http://chrispycode.ninja/blog/feed.xml</id>
  <title>Chrispy Code Ninja Feed</title>
  {% set latestPost = posts[posts.length -1] %}
  <updated>{{ latestPost.updatedAt }}</updated>
  <link href="/blog" />
  <link rel="self" href="/blog/feed.xml" />
  {% for post in posts %}
    <entry>
      <id>http://chrispycode.ninja/blog/{{ post.slug }}</id>
      <title>{{ post.title }}</title>
      <link href="http://chrispycode.ninja/blog/{{ post.slug }}" />
      <updated>{{ post.updatedAt }}</updated>
      <summary>{{ post.description }}</summary>
    </entry>
  {% endfor %}
</feed>